.DS_Store

.vscode/
.vs/
.idea/
certs/

# cpp
cpp/*.o
cpp/*.pb.cc
cpp/*.pb.h
cpp/etg_service_server
cpp/etg_service_client
cpp/build/

# python
python/__pycache__/
python/*.pyc


# csharp

csharp/**/bin/
csharp/**/obj/
csharp/**/project.lock.json
csharp/**/packages/
csharp/**/*.xproj.user